.container-one {
    margin-top: 120px;  
}

.container-one .book-list{
    margin-top: 20px;
    display: flex;
}

.book-list .book-item {
    width: 20%; /* Đảm bảo tất cả các khung sách có cùng chiều rộng */
    aspect-ratio: 2 / 3; /* Duy trì tỷ lệ 2:3 */
    border-radius: 10px;
    overflow: hidden; /* Đảm bảo nội dung không bị tràn */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px; /* Căn chỉnh khoảng cách giữa các sách */
}

.book-list .book-item .image-container {
    width: 100%; /* Chiều rộng đầy đủ của khung */
    height: 100%; /* Chiều cao đầy đủ của khung */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Đảm bảo hình ảnh không bị tràn */
}

.book-list .book-item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cắt hình ảnh để vừa với khung */
    border-radius: 10px;
}

.book-list .book-item .image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ảnh sẽ được cắt gọn nếu cần */
    border-radius: 10px;
}


.book-item {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.book-item:hover {
    transform: scale(1.05);
}

.container-two {
    margin-top: 70px;
}

.author-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px 80px; 
}

.author-list .author-item {
    height: 70px;
    border: 2px solid var(--color-four);
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.author-list .author-item .order {
    margin-left: 20px;
    font-weight: 600;
}
.author-list .author-item .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px;
    margin-left: 20px;
}

.author-list .author-item .author-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-list .author-item .author-name {
    margin-left: 10px;
    font-weight: 500;
}

/* .author-item {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
} */

.author-item:hover {
    transform: translateY(-5px); /* Nổi lên nhẹ */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.book-item {
    width: 18%; /* Hiển thị 5-6 quyển mỗi hàng tùy thuộc màn hình */
    text-align: center;
}

.book-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05); /* Hiệu ứng phóng to khi di chuột */
}

.views-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}


@media (max-width: 1028px) {
    .book-list .book-item {
        width: calc(100% / 5 - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 830px) {
    .author-list {
        gap: 10px 30px; 
    }
    .author-list .author-item {
        height: 50px;
        margin: 10px;
    }
    .author-list .author-item .author-image {
        width: 38px;
        height: 38px;
        margin-left: 10px;
    }
    .author-list .author-item .order {
        margin-left: 10px;
        font-weight: 500;
        font-size: 14px;
    } 
    .author-list .author-item .author-name {
        margin-left: 0px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .book-list .book-item {
        width: calc(100% / 5 - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (max-width: 640px) {
    .container-one {
        margin-top: 75px;
    }
    .container-one h1 {
        font-size: 16px;
    }
    .container-one .book-list{
        flex-wrap: wrap;
    }
    .book-list .book-item {
        width: calc(100% / 3 - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .container-two {
        margin-top: 20px;
    }
    .container-two .author-list {
        display: flex;
        flex-wrap: wrap;
    }
    .author-list .author-item {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .book-list .book-item {
        width: 100%; 
    }
    .author-list .author-item {
        width: 100%;
    }
}