{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_category.css' %}">
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm" class="search-input">
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="header-content">
            <ul>
                <li><a href="{% url 'index' %}">Trang chủ</a></li>
                <li><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li class="title-page"><a href="{% url 'category' %}">Thể loại</a></li>  
            </ul>
        </div>

        <div class="bar">
            <i class="fa-solid fa-bars" id="bar-icon"></i>
            <ul class="dropdown-menu-bar" id="dropdown-menu-bar">
                <li><a href="{% url 'index' %}">Trang chủ</a></li>
                <li><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li><a href="{% url 'category' %}">Thể loại</a></li>
            </ul>
        </div>


        <div class="personal-account">
            <img src="{% static 'assets/images/Flag_of_Vietnam.svg.webp' %}" 
                 alt="personal image" 
                 class="image" 
                 id="user-image">
            <ul class="dropdown-menu" id="dropdown-menu">
                <li><a href="/profile/">Thông tin người dùng</a></li>
                <li><a href="/favorites/">Danh sách yêu thích</a></li>
                <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                <li><a href="{% url 'signup' %}">Đăng ký</a></li>
                <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
            </ul>
        </div>  
    </header>
    <!-- end header -->

    <!-- suggestion -->
    <div class="container suggestion-list">
        <div class="suggestion-item">
            <a href="#tai_chinh">
                Tài chính
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#phat_trien">
                Phát triển bản thân
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#suc_khoe">
                Sức khỏe
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#tam_sinh_ly">
                Tâm sinh lý
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#tu_duy">
                Tư duy
            </a>
        </div>
     </div>
    <!-- end suggestion -->

    <!-- section-one -->
    
    <div class="container container-one">
        <div class="title" id="tai_chinh">
            <h1>Sách Tài chính</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        
        <div class="audiobook-list">
            {% for book in books1 %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main category-item-main">
                        <div class="book-image">
                            <img src=" {{book.cover_image}} " alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>  
                <div class="sidebar categoryr-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>{% endfor %}

        </div>
        <div class="title" id="phat_trien">
            <h1>Phát triển bản thân</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        
        <div class="audiobook-list">
            {% for book in books2 %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main category-item-main">
                        <div class="book-image">
                            <img src=" {{book.cover_image}} " alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>  
                <div class="sidebar categoryr-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>{% endfor %}

        </div>
        <div class="title" id="suc_khoe">
            <h1>Sức khỏe</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        
        <div class="audiobook-list">
            {% for book in books3 %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main category-item-main">
                        <div class="book-image">
                            <img src=" {{book.cover_image}} " alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>  
                <div class="sidebar categoryr-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="title" id="xa_hoi">
            <h1>Xã hội</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
       
        <div class="audiobook-list">
            {% for book in books4 %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main category-item-main">
                        <div class="book-image">
                            <img src=" {{book.cover_image}} " alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>  
                <div class="sidebar categoryr-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>{% endfor %}

        </div>
        <div class="title" id="tam_sinh_ly">
            <h1>Tâm sinh lý</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        
        <div class="audiobook-list">
            {% for book in books5 %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main category-item-main">
                        <div class="book-image">
                            <img src=" {{book.cover_image}} " alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>  
                <div class="sidebar categoryr-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>{% endfor %}

        </div>
        <div class="title" id="tu_duy">
            <h1>Tư duy</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        
        <div class="audiobook-list">
            {% for book in books6 %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main category-item-main">
                        <div class="book-image">
                            <img src=" {{book.cover_image}} " alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>  
                <div class="sidebar categoryr-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>{% endfor %}

        </div>
 
      
    </div>  
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const userImage = document.getElementById("user-image");
            const dropdownMenu = document.getElementById("dropdown-menu");
    
            // Hiển thị / ẩn menu khi click vào ảnh
            userImage.addEventListener("click", function() {
                dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
            });
    
            // Ẩn menu nếu click ra ngoài
            document.addEventListener("click", function(event) {
                if (!userImage.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = "none";
                }
            });
        });
    </script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const barIcon = document.getElementById("bar-icon");
            const dropdownMenuBar = document.getElementById("dropdown-menu-bar");
    
            // Hiển thị / ẩn menu khi click vào ảnh
            barIcon.addEventListener("click", function() {
                dropdownMenuBar.style.display = dropdownMenuBar.style.display === "block" ? "none" : "block";
            });
    
            // Ẩn menu nếu click ra ngoài
            document.addEventListener("click", function(event) {
                if (!barIcon.contains(event.target) && !dropdownMenuBar.contains(event.target)) {
                    dropdownMenuBar.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>