{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Đăng Nhập </title>
    
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_change_password.css' %}" />
      
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Đổi Mật Khẩu</h2>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <input type="password" name="old_password" required placeholder="Mật khẩu cũ">
                </div>
                <div>
                    <input type="password" name="new_password" required placeholder="Mật khẩu mới">
                </div>
                <div>
                    <input type="password" name="confirm_password" required placeholder="Xác nhận mật khẩu mới">
                </div>
                <button type="submit">Đổi mật khẩu</button>
            </div>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>