{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/styles_discover.css' %}" />
</head>

<body>
    <!-- header -->
    <header class="header">

        <div class="header-content">
            <ul>
                <li><a href="{% url 'index' %}">Trang chủ</a></li>
                <li class="title-page"><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li><a href="{% url 'category' %}">Thể loại</a></li>  
            </ul>
        </div>

        <div class="bar">
            <i class="fa-solid fa-bars" id="bar-icon"></i>
            <ul class="dropdown-menu-bar" id="dropdown-menu-bar">
                <li><a href="{% url 'index' %}">Trang chủ</a></li>
                <li class="title-page"><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li><a href="{% url 'category' %}">Thể loại</a></li>
            </ul>
        </div>


        <div class="personal-account">
            <img src="{% static 'assets/images/Flag_of_Vietnam.svg.webp' %}" 
                 alt="personal image" 
                 class="image" 
                 id="user-image">
            <ul class="dropdown-menu" id="dropdown-menu">
                {% if user.is_authenticated %}
                    <li><a href="/profile/">Thông tin người dùng</a></li>
                    <li><a href="/favorite/">Danh sách yêu thích</a></li>
                    <li><a href="{% url 'text_to_speech' %}">voice</a></li>
                    <li><a href="/change-password/">Đổi mật khẩu</a></li>
                    <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                    <li><a href="{% url 'signup' %}">Đăng ký</a></li>
                {% endif %}
            </ul>  
        </div>  
    </header>
    <!-- end header -->

    <!-- suggestion -->
    <div class="container suggestion-list">
{#        <div class="suggestion-item">#}
{#            <a href="#">#}
{#                Lịch sử - văn hóa#}
{#            </a>#}
{#        </div>#}
{#        <div class="suggestion-item">#}
{#            <a href="#">#}
{#                Khoa học - công nghệ#}
{#            </a>#}
{#        </div>#}
{#        <div class="suggestion-item">#}
{#            <a href="#">#}
{#                Tác giả nổi tiếng#}
{#            </a>#}
{#        </div>#}
{#        <div class="suggestion-item">#}
{#            <a href="#">#}
{#                “Chữa lành”#}
{#            </a>#}
{#        </div>#}
    </div>
    <!-- end suggestion -->

    <!-- section-one -->
    <div class="container container-two">
        <div class="title">
            <h1>Ra mắt gần đây</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/nha-gia-kim-01.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/dai_viet_su_ki_toan_thu.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-one -->

    <!-- section-two-->
    <div class="container container-two">
        <div class="title">
            <h1>Đọc nhiều gần đây</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/nha-gia-kim-01.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/dai_viet_su_ki_toan_thu.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-two-->

    <!-- section-three-->
    <div class="container container-three">
        <div class="title">
            <h1>Lựa chọn của biên tập viên</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/nha-gia-kim-01.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/dai_viet_su_ki_toan_thu.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-three-->

    <!-- section-four-->
    <div class="container container-four">
        <div class="title">
            <h1>Bán chạy nhất</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/nha-gia-kim-01.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{% static 'assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="{%static 'assets/images/dai_viet_su_ki_toan_thu.jpg' %}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-four-->

    <footer> 
        <div  class="footer-content">
            <div class="quote">
                <p>"Bạn định đợi tới bao giờ
                    <br>
                    mới mong cầu điều tốt đẹp nhất cho bản thân?"
                </p> 
            </div>
            <div class="member">
                <h3>Đội ngũ xây dựng và phát triển web:</h3>
                <ul>
                    <li>Mentor: Đinh Quốc Đại</li>
                    <li>Nguyễn Đăng Huân</li>
                    <li>Đỗ Sỹ Việt</li>
                    <li>Vũ Mạnh Hiếu</li>
                    <li>Võ Minh Trí</li>
                    <li>Vũ Thị Thu Duyên</li>
                </ul>
            </div>
            <div class="contact">
                <p>Chúng tôi luôn sẵn sàng lắng nghe ý kiến của các bạn</p>
                <p>Liên hệ với chúng tôi:</p>
                <ul>
                    <li>Email: huannguen1232004@gmail.com</a></li>
                    <li>Điện thoại: +84 865 961 383</a></li>
                </ul>
            </div>
        </div>
        <div class="end-footer"> 
            <p> 
                Một trang web thành công không chỉ là công trình của đội ngũ phát triển. 
                <br>Vì vậy, cho phép chúng tôi gửi lời cảm ơn đến các bạn đọc, các thính giả đã góp phần làm nên thành công của chúng tôi.
            </p>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const userImage = document.getElementById("user-image");
            const dropdownMenu = document.getElementById("dropdown-menu");
    
            // Hiển thị / ẩn menu khi click vào ảnh
            userImage.addEventListener("click", function() {
                dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
            });
    
            // Ẩn menu nếu click ra ngoài
            document.addEventListener("click", function(event) {
                if (!userImage.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = "none";
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const barIcon = document.getElementById("bar-icon");
            const dropdownMenuBar = document.getElementById("dropdown-menu-bar");
    
            // Hiển thị / ẩn menu khi click vào ảnh
            barIcon.addEventListener("click", function() {
                dropdownMenuBar.style.display = dropdownMenuBar.style.display === "block" ? "none" : "block";
            });
    
            // Ẩn menu nếu click ra ngoài
            document.addEventListener("click", function(event) {
                if (!barIcon.contains(event.target) && !dropdownMenuBar.contains(event.target)) {
                    dropdownMenuBar.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>