{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_forgot_password.css' %}" />
</head>
<!-- forgot_password.html -->

<body>
    <h1>Quên mật khẩu</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Nhập email của bạn" required>
        <button type="submit">Gửi mã OTP</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
