{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{% static 'assets/images/icon.webp' %}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>



</head>
<body>
    <!-- header -->
    
    <header class="header">
        {% comment %} <div class="search-container">
            <input type="text" placeholder="Tìm kiếm" class="search-input">
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div> {% endcomment %}

        {% comment %} <div class="search-container">
            <form method="GET" action="{% url 'search_results' %}" class="search-form">
                <input type="text" name="q" placeholder="Tìm kiếm" class="search-input" required>
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div> {% endcomment %}
        

        <div class="header-content">
            <ul>    
                <li class="title-page"><a href="{% url 'index' %}">Trang chủ</a></li>
                <li><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li><a href="{% url 'category' %}">Thể loại</a></li>   
            </ul>
        </div>

        <div class="bar">
            <i class="fa-solid fa-bars" id="bar-icon"></i>
            <ul class="dropdown-menu-bar" id="dropdown-menu-bar">
                <li class="title-page"><a href="{% url 'index' %}">Trang chủ</a></li>
                <li><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li><a href="{% url 'category' %}">Thể loại</a></li>
            </ul>
        </div>

        <div class="personal-account">
            <img src="{% static 'assets/images/Flag_of_Vietnam.svg.webp' %}" 
                 alt="personal image" 
                 class="image" 
                 id="user-image">
            <ul class="dropdown-menu" id="dropdown-menu">
                {% if user.is_authenticated %}
                    <li><a href="/profile/">Thông tin người dùng</a></li>
                    <li><a href="/favorite/">Danh sách yêu thích</a></li>
                    <li><a href="{% url 'text_to_speech' %}">voice</a></li>
                    <li><a href="/change-password/">Đổi mật khẩu</a></li>
                    <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                    <li><a href="{% url 'signup' %}">Đăng ký</a></li>
                {% endif %}
            </ul>    
        </div>
        
    </header>
    <!-- end header -->

    <!-- section-1 -->
    <div class="container container-one">
        <div class="main-content">
            <div class="discover">
                <h1 class="title">
                    Khám phá
                </h1>
                <!-- {% for book in books %}
                <li>
                    <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                </li>
                {% empty %}
                    <li>Không có sách nào.</li>
                {% endfor %} -->
                <div class="discover-list">
                    <a href="{% url 'category' %}#tai_chinh">
                        <div class="discover-item">
                            <i class="fa-solid fa-coins"></i>
                            <h3 class="items-text">Tài chính</h3>
                        </div>
                    </a>
                    <a href="{% url 'category' %}#phat_trien">
                        <div class="discover-item">
                            <i class="fa-solid fa-user-tie"></i>
                            <h3 class="items-text">Phát triển</h3>
                        </div>
                    </a>
                    <a href="{% url 'category' %}#suc_khoe">
                        <div class="discover-item">
                            <i class="fa-solid fa-notes-medical"></i>
                            <h3 class="items-text">Sức khỏe</h3>
                        </div>
                    </a>
                    <a href="{% url 'category' %}#xa_hoi">
                        <div class="discover-item">
                            <i class="fa-solid fa-user-group"></i>
                            <h3 class="items-text">Xã hội</h3>
                        </div>
                    </a>
                    <a href="{% url 'category' %}#tam_sinh_ly">
                        <div class="discover-item">
                            <i class="fa-regular fa-face-laugh-wink"></i>
                            <h3 class="items-text">Tâm sinh lý</h3>
                        </div>
                    </a>
                    <a href="{% url 'category' %}#tu_duy">
                        <div class="discover-item">
                            <i class="fa-regular fa-lightbulb"></i>
                            <h3 class="items-text">Tư duy</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="trending">
                <div class="trending-title">
                    <h1 class="title">Thịnh hành</h1>
                    <a href="{% url 'trending_page' %}">
                        <h3 class="sidebar">Xem thêm</h3>
                    </a>
                </div>
                <div class="trending-list">
                    <a href="#">
                        <div class="trending-item">
                            <div class="item-image">
                                <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alt="Sách" class="image">
                            </div>
                            <div class="item-information">
                                <h1 class="book-name">
                                    Yêu những điều không hoàn hảo
                                </h1>
                                <h3 class="author">
                                    Hae Min
                                </h3>
                                <div class="time-item">
                                    <i class="fa-regular fa-clock"></i>
                                    <span class="time">1 giờ, 46 phút</span>
                                </div>
                            </div>
                            <div class="trending-sidebar">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                <i class="fa-solid fa-circle-play"></i>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="trending-item">
                            <div class="item-image">
                                <img src="{% static 'assets/images/chu-nghia-khac-ky-_tb-2023__bia-1.webp' %}" alt="Sách" class="image">
                            </div>
                            <div class="item-information">
                                <h1 class="book-name">
                                    Chủ nghĩa khắc kỉ
                                </h1>
                                <h3 class="author">
                                    William B.Irvine
                                </h3>
                                <div class="time-item">
                                    <i class="fa-regular fa-clock"></i>
                                    <span class="time">2 giờ, 35 phút</span>
                                </div>
                            </div>
                            <div class="trending-sidebar">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                <i class="fa-solid fa-circle-play"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-sidebar">
            <img src="{% static 'assets/images/1.webp' %}" alt="">
        </div>
    </div>

    <div class="container container-two">
        <h1 class="for-you-title">Dành cho bạn</h1>
        <div class="audiobook-list">
            {%for book in books %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main for-you-main">
                        <div class="book-image">
                            <img src="{{book.cover_image}}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar for-you-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time audio-duration" data-src="{{ book.audio_file.url }}"> Đang tải...</span>
                        
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>


    <!-- ... (phần code hiện tại của bạn) ... -->



<!-- Phần Sách Thịnh Hành -->
    <div class="container container-two">
        <h1 class="for-you-title">Sách Thịnh Hành</h1>
        <div class="audiobook-list">
            {% for book in popular_books %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main for-you-main">
                        <div class="book-image">
                            <img src="{{book.cover_image}}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar for-you-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Phần Sách Yêu Thích -->
    <div class="container container-two">
        <h1 class="for-you-title">Sách Yêu Thích</h1>
        <div class="audiobook-list">
            {% for book in favorite_books %}
            <div class="audiobook audiobook-item">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="main for-you-main">
                        <div class="book-image">
                            <img src="{{book.cover_image}}" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">{{book.title}}</h2>
                            <h3 class="author">{{book.author.name}}</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar for-you-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<!-- ... (phần code hiện tại của bạn) ... -->

    <footer> 
        <div  class="footer-content">
            <div class="quote">
                <p>"Bạn định đợi tới bao giờ
                    <br>
                    mới mong cầu điều tốt đẹp nhất cho bản thân?"
                </p> 
            </div>
            <div class="member">
                <h3>Đội ngũ xây dựng và phát triển web:</h3>
                <ul>
                    <li>Mentor: Đinh Quốc Đại</li>
                    <li>Nguyễn Đăng Huân</li>
                    <li>Đỗ Sỹ Việt</li>
                    <li>Vũ Mạnh Hiếu</li>
                    <li>Võ Minh Trí</li>
                    <li>Vũ Thị Thu Duyên</li>
                </ul>
            </div>
            <div class="contact">
                <p>Chúng tôi luôn sẵn sàng lắng nghe ý kiến của các bạn</p>
                <p>Liên hệ với chúng tôi:</p>
                <ul>
                    <li>Email: huannguen1232004@gmail.com</a></li>
                    <li>Điện thoại: +84 865 961 383</a></li>
                </ul>
            </div>
        </div>
        <div class="end-footer"> 
            <p> 
                Một trang web thành công không chỉ là công trình của đội ngũ phát triển. 
                <br>Vì vậy, cho phép chúng tôi gửi lời cảm ơn đến các bạn đọc, các thính giả đã góp phần làm nên thành công của chúng tôi.
            </p>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const userImage = document.getElementById("user-image");
            const dropdownMenu = document.getElementById("dropdown-menu");
    
            // Hiển thị / ẩn menu khi click vào ảnh
            userImage.addEventListener("click", function() {
                dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
            });
    
            // Ẩn menu nếu click ra ngoài
            document.addEventListener("click", function(event) {
                if (!userImage.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = "none";
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const barIcon = document.getElementById("bar-icon");
            const dropdownMenuBar = document.getElementById("dropdown-menu-bar");
    
            // Hiển thị / ẩn menu khi click vào ảnh
            barIcon.addEventListener("click", function() {
                dropdownMenuBar.style.display = dropdownMenuBar.style.display === "block" ? "none" : "block";
            });
    
            // Ẩn menu nếu click ra ngoài
            document.addEventListener("click", function(event) {
                if (!barIcon.contains(event.target) && !dropdownMenuBar.contains(event.target)) {
                    dropdownMenuBar.style.display = "none";
                }
            });
        });
    </script>
    

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".audio-duration").forEach(span => {
            let audio = new Audio(span.dataset.src);
            audio.addEventListener("loadedmetadata", () => {
                let duration = Math.round(audio.duration);
                // giải thích tẹo nha cái duration là a dùng để lấy thời gian trong file sách tương ứng ở trên database á
                let minutes = Math.floor(duration / 60);
                let seconds = duration % 60;
                span.textContent = ` ${minutes}:${seconds.toString().padStart(2, "0")}`;
            });
        });
    });
</script>


    
</body>
</html>